<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header class="header">
        <a asp-controller="Home" asp-action="Index" class="logo">Conference Management System</a>
        <nav class="navbar">
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Home" asp-action="Search">Search</a>
            <a asp-controller="Home" asp-action="Notifications">Notifications</a>
            <a asp-controller="Account" asp-action="Profile">Profile</a>
            <a asp-controller="Account" asp-action="Logout">Logout</a>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
