@{
    ViewData["Title"] = "Forget Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/base.css">
<link rel="stylesheet" href="~/css/basehomepage.css">
<title>Forget Password</title>

<header class="header">
    <a asp-controller="Home" asp-action="Index" class="logo">Conference Management System</a>
    <nav class="navbar">
        <a asp-controller="Account" asp-action="Login">Login</a>
        <a asp-controller="Account" asp-action="Register">Register</a>
    </nav>
</header>

<br />
<br />
<br />
<h1>This function has not been implemented yet.</h1>