@model ConferenceManagementWebApp.ViewModels.AccountViewModels.AccountLoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/login.css">
<title>Login</title>


<header class="header">
    <nav class="navbar">
        <a asp-controller="Account" asp-action="Login">Login</a>
        <a asp-controller="Account" asp-action="Register">Register</a>
    </nav>
</header>

<div class="login-box">
    <div class="login-header">
        <header>Welcome Back!</header>
    </div>
    <form asp-action="Login" asp-controller="Account" method="post">
        <div class="input-box">
            <input asp-for="Username" class="input-field" placeholder="Username">
        </div>
        <div class="input-box">
            <input asp-for="Password" class="input-field" placeholder="Password ">
        </div>
        <div class="forgot">
            <section>
                <input asp-for="RememberMe" type="checkbox">
                <label for="RememberMe">Remember me</label>
            </section>
            <section>
                <a href="#">Forgot password</a>
            </section>
        </div>
        <div class="input-submit">
            <button class="submit-btn" id="submit"></button>
            <label for="submit">Login</label>
        </div>
    </form>
    <div class="sign-up-link">
        <p>Don't have an account? <a asp-action="Register" asp-controller="Account">Sign Up</a></p>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
