@using ConferenceManagementWebApp.ViewModels.PaperViewModels;
@model PaperCreateViewModel;

@{
    ViewBag.Title = "Create Paper";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/base.css">
<link rel="stylesheet" href="~/css/paperCreate.css">
<title>Create Paper</title>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="review-box">
        <div class="review-header">
            <header>Upload Paper</header>
        </div>
        <div class="input-box">
            <label for="Title">Title</label>
            <input asp-for="Title" class="input-field" placeholder="Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="input-box">
            <label for="Abstract">Abstract</label>
            <textarea asp-for="Abstract" class="input-field" placeholder="Abstract"></textarea>
            <span asp-validation-for="Abstract" class="text-danger"></span>
        </div>
        <div class="input-box">
            <label for="Keywords">Keywords</label>
            <input asp-for="Keywords" class="input-field" placeholder="Keywords" />
            <span asp-validation-for="Keywords" class="text-danger"></span>
        </div>
        <div class="input-box">
            <label for="File">File</label>
            <input asp-for="File" type="file" accept=".pdf" class="input-file" />
            <span asp-validation-for="File" class="text-danger"></span>
        </div>
        <div class="input-submit">
            <button class="submit-btn" id="submitButton"></button>
            <label for="submitButton">Upload Paper</label>
        </div>
        <div>
            <input asp-for="SessionId" type="hidden" value="@Model.SessionId" />
        </div>
    </div>
</form>
