@using ConferenceManagementWebApp.ViewModels.PaperViewModels;
@using ConferenceManagementWebApp.Enums;
@model List<PaperListReviewedViewModel>;

@{
    ViewBag.Title = "List Reviewed Papers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/base.css">
<link rel="stylesheet" href="~/css/table.css">
<title>Reviewed Papers</title>

<header class="header">
    <a asp-controller="Home" asp-action="Index" class="logo">Conference Management System</a>
    <nav class="navbar">
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Home" asp-action="Search">Search</a>
        <a asp-controller="Home" asp-action="Notifications">Notifications</a>
        <a asp-controller="Home" asp-action="Profile">Profile</a>
        <a asp-controller="Account" asp-action="Logout">Logout</a>
    </nav>
</header>

<div class="container">
    <h1 class="title">Reviews</h1>
    <table class="conference-table">
        <tr>
            <th>Paper Title</th>
            <th>Score</th>
            <th>Comment</th>
            <th>Recommendation</th>
        </tr>

        @foreach (var paper in Model)
        {
            <tr>
                <td>@paper.Title</td>
                <td>@paper.Score</td>
                <td>@paper.Comment</td>
                <td>@paper.Recommendation</td>
            </tr>
        }
    </table>
</div>