@{
    ViewData["Title"] = "AttendeeIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/base.css">
<link rel="stylesheet" href="~/css/basehomepage.css">

<header class="header">
    <a asp-controller="Home" asp-action="Index" class="logo">Conference Management System</a>
    <nav class="navbar">
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Home" asp-action="Search">Search</a>
        <a asp-controller="Home" asp-action="Notifications">Notifications</a>
        <a asp-controller="Home" asp-action="Profile">Profile</a>
        <a asp-controller="Account" asp-action="Logout">Logout</a>
    </nav>
</header>

<div class="button-container">
    <button class="custom-button">Upcoming Conferences</button>
    <button class="custom-button">Attended Conferences</button> @* Rename *@
</div>