@{
    ViewBag.Title = "Notifications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/base.css">
<link rel="stylesheet" href="~/css/basehomepage.css">
<title>Notifications</title>

<br />
<br />
<br />
<h1>This function has not been implemented yet.</h1>