@{
    ViewData["Title"] = "ReviewerIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/base.css">
<link rel="stylesheet" href="~/css/basehomepage.css">
<title>Reviewer Home Page</title>

<div class="button-container">
    <button class="custom-button"><a asp-controller="Conference" asp-action="ListUpcomingConferences">Upcoming Conferences</a></button>
    <button class="custom-button"><a asp-controller="Conference" asp-action="ListAttendedConferences">Attended Conferences</a></button>
    <button class="custom-button"><a asp-controller="Paper" asp-action="ListAssignedPapers">Assigned Papers</a></button>
</div>