
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.organize-box {
    display: flex;
    flex-direction: column;
    width: 650px;
    height: auto;
    padding: 30px;
    margin-top: 8%;
}

.organize-header{
    text-align: center;
    margin: 80px 0 40px 0;
}

.organize-header header{
    color: #333;
    font-size: 30px;
    font-weight: 600;
}

.input-box .input-field{
    width: 100%;
    height: 50px;
    font-size: 14px;
    padding: 0 10px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: 2px solid #000;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.05);
    outline: none;
    transition: .3s;
}
::placeholder{
    font-weight: 500;
    color: #222;
    opacity: 0.5;
}
.input-field:focus{
    width: 105%;
}

.input-submit{
    position: relative;
}
.submit-btn{
    width: 100%;
    height: 60px;
    background: #18a3da;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
    color: white;
}
.input-submit label{
    position: absolute;
    top: 45%;
    left: 50%;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.submit-btn:hover{
    background: #FF5733;
    transform: scale(1.05,1);
}

.session-header {
    border-bottom: 2px solid #333;
    margin-bottom: 15px;
}

.custom-select {
    position: relative;
    width: 100%;
}

.select-header {
    position: relative;
    width: 100%;
    height: 50px;
    font-size: 14px;
    padding: 0 10px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: 2px solid #000;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.05);
    outline: none;
    transition: .3s;
    background-color: white;
    z-index: 1;
}

.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    margin-left: 425px;
    color: #222;
    opacity: 0.5;
}

.select-options {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    top: calc(100% - 13px);
    z-index: 2;
}

.option {
    padding: 5px;
    cursor: pointer;
}

.option:hover {
    background-color: #f1f1f1;
}

.custom-select .select-header .reviewer-span {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    color: #222;
    opacity: 0.5;
    line-height: 45px;
}